body{
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    background-image: url(images.jpg);
    background-size: cover;
    
}
#bot{
    border: 1px solid white;
    background-color: white;
}
#user{
    border: 1px solid white;
    background-color: white;


}
#resultBox{
}
#result{
    color: white;
    font-size: 20px;
}
button{
    cursor: pointer;
    background-color: aqua;
    border-radius: 30px;
    
}
#userResult{
    color:black;
    font-size: 40px;
    padding: 5px 50px 5px 50px;
}
#botResult{
    color:black;
    font-size: 40px;
    padding: 5px 50px 5px 50px;
}